<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My Simple Fitness Track">
	<meta name="author" content="Dane Schilling, Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<title>Dane Schilling - Fitness</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="/css/site.css" rel="stylesheet"/>
</head>

<body>
	<header>
		<div class="collapse" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4>About</h4>
						<p>My journey to a better me.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<strong>Daily Log</strong>
				</a>
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>

	<main>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">My Journal</h1>
					<p class="lead text-body-secondary">This is a place for me to easily log my daily progress.</p>
				</div>
			</div>
		</section>

		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
			  <div class="col-md-4 card-image">
				<img src="images/uploads/80sglasses.png" class="img-fluid rounded-start" alt="...">
			  </div>
			  <div class="col-md-8">
				<div class="card-body">
				  <h5 class="card-title">10/12/2023</h5>
				  <p class="card-text">										
					<strong>Weight:</strong> 234.2<br />
					<strong>Mood:</strong> Meh<br />
					<strong>Did I exercise:</strong> Yes<br />
					<strong>Did I log my food:</strong> Yes<br />
					<hr />
					<p>
						The day was okay.
					</p>
				  </p>
				</div>
			  </div>
			</div>
		  </div>

	</main>

	<footer class="text-body-secondary py-5">
		<div class="container">
			<p class="float-end mb-1">
				<a href="#">Back to top</a>
			</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>