<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My Simple Fitness Track">
	<meta name="author" content="Dane Schilling, Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<title>Dane Schilling - Fitness</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link href="assets/css/site.css" rel="stylesheet" />
</head>

<body>
	<header>
		<div class="collapse" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4>About</h4>
						<p>My journey to a better me.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<strong>Daily Log</strong>
				</a>
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>

	<main>
		<section class="py-3 text-center">
			<div class="container">
				<div class="row">
					{{ $dailyLogs := site.GetPage "inspiration" }}
					{{ range $dailyLogs.Pages }}
					<div class="col col-sm-4 col-md-3 col-lg-2 collage-img" style="background-image: url('{{ .Page.Params.photo }}');">
					</div>
					{{ end }}
				</div>
			</div>
		</section>

		<section class="py-3 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">My Journal</h1>
					<p class="lead text-body-secondary">This is a place for me to easily log my daily progress.</p>
				</div>
			</div>
		</section>

		<section class="text-center container">
			<div class="row py-lg-5 mx-auto">
				{{ $dailyLogs := site.GetPage "daily" }}
				{{ range $dailyLogs.Pages }}
				<div class="card my-2 mx-auto" style="max-width: 400px;">
					<div class="row g-0">
						<div class="col-xs-1 col-sm-2 col-md-3 card-image">
							<img src="{{ .Page.Params.dailyPhoto }}" class="img-fluid rounded-start" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body log-card-body">
								<h5 class="card-title">{{ time.Format "2006-01-02" .Page.Params.date }}</h5>
								<p class="card-text">
									<strong>Weight: </strong>{{ .Page.Params.weight }}<br />
									<strong>Mood: </strong>{{ .Page.Params.mood }}<br />
									<strong>Minutes of exercise: </strong>{{ .Page.Params.exercise }}<br />
									<strong>Daily calories: </strong>{{ .Page.Params.calories }}<br />
									<hr />
								<p>
									{{ .Content }}
								</p>
								</p>
							</div>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</section>

	</main>

	<footer class="text-body-secondary py-5">
		<div class="container">
			<p class="float-end mb-1">
				<a href="#">Back to top</a>
			</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>